#tags_list ul {
       text-align: left;
       margin-right: 50px;
       margin-left: 10px;
}

#tags_list ul li {
       font-family: "Arial", sans-serif;
       font-size: 0.8em;
       display: inline;
       line-height: 2.0em;
       padding: 3px;
       color: #ccc;
       cursor: pointer;
}

#tags_list ul li.clicked {
       background: #000;
}